@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);




#content5-9 .mbr-header .mbr-header__text {
  text-align: center;
  color: #1e0707;
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;
}
#content5-9 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-9 .mbr-article {
  color: #fff;
}
#content5-9 .mbr-article P {
  color: #1e0707;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
}
#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #313739;
}
#ext_menu-0 .mbr-navbar__section {
  background: #313739;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-brand__name a {
  font-family: 'Oxygen', sans-serif;
}
#contacts1-a STRONG {
  color: #ffffff;
}
#contacts1-a P {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}


#msg-box3-u .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-u .mbr-header .mbr-header__subtext {
  text-align: center;
}
#ext_menu-h .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-h.mbr-navbar--stuck .mbr-navbar__section {
  background: #313739;
}
#ext_menu-h .mbr-navbar__section {
  background: #313739;
}
#ext_menu-h .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-h .mbr-brand__name a {
  font-family: 'Oxygen', sans-serif;
}
#contacts1-k STRONG {
  color: #ffffff;
}
#contacts1-k P {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}


#ext_menu-l .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-l.mbr-navbar--stuck .mbr-navbar__section {
  background: #313739;
}
#ext_menu-l .mbr-navbar__section {
  background: #313739;
}
#ext_menu-l .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-l .mbr-brand__name a {
  font-family: 'Oxygen', sans-serif;
}
#contacts1-o STRONG {
  color: #ffffff;
}
#contacts1-o P {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
